*{
	margin:0px;
	padding:0px;
}

body{
	width:100%;
	height:100%;
	display:-webkit-box;
	-webkit-box-pack: center;	
	background-image: url("building.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#big_wrapper {
	background: none;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 0;
}

#top_header{
	width: 900px;
	height: 52px;
	font-size: 35px;
	font-family: Bakersville Old Face;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 2px 1px black;
	border-radius: 5px;
	background: grey;
	-webkit-box-shadow:rgba(110,110,110,.5) 10px 10px 10px;
}

#top_header ul{
	background: grey;
	height: auto;
	padding: 5px 0px;
	margin: 0px;
}

#top_header li {
	background: grey;
	display: inline;
	padding: 8px;
}

#top_header a {
	background: grey;
	text-decoration: none;
	color: black;
	padding: 8px 8px 8px 8px;
}

#top_header a:hover {
	color: orange;
	background-color: blue;
}

#new_div{
	text-align:center;
	height: 300px;
	padding:20px;
	display: inline;
	background: transparent;
	
}

#caption {
	display: block;
	width: 300px;
	height: 55px;
	margin: 0px auto;
	border:1px solid blue;
	background: -webkit-radial-gradient(center,ellipse,black 30%,blue 50%);
	border-radius: 10px;
	text-align: center;
	font-size: 35px;
	font-family: Segoe UI Black;
	-webkit-box-shadow:rgba(110,110,110,.5) 10px 10px 10px;
}

#caption a{
	padding: 1px 26px 10px 20px;
	background: cover;
	color: red;
	text-decoration: none;
}

#caption a:hover {
	border-radius: 10px;
	width: 300px;
	height: 55px;
	background: -webkit-radial-gradient(center,ellipse,grey 30%,yellow 50%);
	-webkit-box-shadow:rgba(110,110,110,.5) 10px 10px 10px;
}