*{
	margin:0px;
	padding:0px;
}

body{
	width:100%;
	height:100%;
	display:-webkit-box;
	-webkit-box-pack: center;	
	background-image: url("building.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#big_wrapper {
	background: none;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 0;
}

#top_header{
	width: 900px;
	height: 52px;
	font-size: 35px;
	font-family: Bakersville Old Face;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 2px 1px black;
	border-radius: 5px;
	background: grey;
	-webkit-box-shadow:rgba(110,110,110,.5) 10px 10px 10px;
}

#top_header ul{
	background: grey;
	height: auto;
	padding: 5px 0px;
	margin: 0px;
}

#top_header li {
	background: grey;
	display: inline;
	padding: 8px;
}

#top_header a {
	background: grey;
	text-decoration: none;
	color: black;
	padding: 8px 8px 8px 8px;
}

#top_header a:hover {
	color: orange;
	background-color: blue;
}

#new_div{
	height: 500px;
	width: 400px;
	padding:20px;
}

#leftbox{
	display: block;
	width:200px;
	padding: 40px;
	border: 3px solid black;
	background: silver;
	border-radius: 7px;
	font-weight: bold;
	font-size: 20px;
	font-family: Bakersville Old Face;
}

.mytext {
	font-size: 15px;
	font-family: Bakersville Old Face;
	-webkit-box-flex: 1;
	height: 20px;
}

.sbutton {	
	width: 70px;
	text-align: center;
	font-size: 20px;
	font-family: Bakersville Old Face;
	height: 25px;
	cursor: pointer;
}